.empre {
    @include d_a_j_d(flex, center, center, column);
    background-color: $colorempresabase;
}

.empre1 {

    @include d_a_j_d(flex, center, center, column);
    text-align: justify;   
    padding: 50px;
    gap: 30px;

    img {
        @include formato_img(40%, 300px, cover);
        border-radius: 20%;
    }
    
}

.empre2 {
    @include d_a_j_d(flex, center, center, column);    
    text-align: justify;
    padding: 70px;
    gap: 30px;

    img {
        @include formato_img(40%, 200px, cover);
        border-radius: 30%;
    
    }
}

.video {
 
text-align: center;
}

.mapa {
    text-align: center;
}