@media only screen and (max-width:1024px) {

    .barrademenu {
        list-style-type: none;
        @include d_a_j_d(flex, none, flex-end, column);

        ul {
            list-style-type: none;
            @include d_a_j_d(flex, none, flex-end, column);
        }

        img {
            @include formato_img(15px, 15px, contain)
        }

    }

    .piepagina {
        @include d_a_j_d(flex, center, center, column);
        text-align: center;

        img {
            @include formato_img(20px, 20px, contain)
        }

    }

    .hero {
        @include d_a_j_d(flex, none, none, column);

        img {
            @include formato_img(110px, 110px, cover);
        }
    }



    .cardbody2 {
        @include b_a_p(50%, 50%, 0);
        @include d_a_j_d(flex, none, none, column);

        img {
            @include formato_img(100%, 30%, cover);
        }

        h2,
        p {
            text-align: center;
            font-size: 15px;
        }
        &:hover img {
            @include formato_img(100%, 200px, 0);
        }

        &:hover .bandera {
            @include formato_img(50px, 50px, 0);
            font-size: 10px;
        }

    }

    .bandera {
        background-color: brown;
        padding: 5px;
        color: aliceblue;
        position: absolute;
        top: 10px;
        right: -20px;
        width: 60%;
        height: 5%;
        font-size: 1px;
    }

    .empre {
        @include d_a_j_d(flex, none, none, column);
    }
    .empre1 img {

                   @include formato_img(60%, 100px, cover);
        
        }
        .empre2 img {

            @include formato_img(40%, 100px, cover);
 
 }
        

    .video {
        @include d_a_j_d(flex, none, none, column);

    }

    .mapa {
        @include d_a_j_d(flex, none, none, column);

    }

    .encab {
        @include d_a_j_d(flex, none, none, column);

        img {
            @include formato_img(100px, 100px, 0);
        }
    }


}