.cards2 {
    background-color: $colorempresabase;
    @include d_a_j_d(flex, center, center, column);
    flex-wrap: wrap;
    min-height: 100vh;
    max-height: 100%;
    gap: 40px;
    padding: 20px;
}

.cardbody2 {
    background-color: rgb(4, 84, 116);
    @include formato_img(900px, 300px, none);
    @include d_a_j_d(flex, center, space-between, none);
    transition: .5s;
    gap: 20px;
    overflow: hidden;
    position: relative;
    padding: 10px;
    color: aliceblue;

    img {
        @include formato_img(40%, 100%, cover);
        transition: .3s;
        filter: sepia(2)
    }

    h2,
    p {
        padding: 5px;
    }

    &:hover img {
        filter: sepia(0);
        @include formato_img(200px, 900px, none);
    }

    &:hover .bandera {
        background-color: brown;
        border-radius: 100%;
        @include d_a_j_d(flex, center, center, none);
        position: absolute;
        top: 20px;
        left: 30px;
        text-align: center;
        color: #d9ebfa;
        width: 100px;
        height: 100px;
    }

}

.bandera {
    width: 300px;
    height: 50px;
    background-color: brown;
    transition: .5s;
    color: #d9ebfa;
}

.encabezadopromociones {
    background-color: $colorempresabase;
    @include d_a_j_d(flex, center, center, none);
    text-align: center;
}